/* @font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=va9E4kDNxMZdWfMOD5VflYLMSTfNczir_ya5bw4&skey=6bde03e5f15b0572&v=v17)
    format("woff2");
}
@font-face {
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=wEOsEADFm8hSaQTFG18FErVhsC9x-tarWU3IiMZ-dRZav4hLdNe739UJ&skey=4e18c89becbd4d36&v=v10)
    format("woff2");
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-condensed-bold {
  font-family: "Fira Sans Condensed", serif;
  font-weight: 700;
  font-style: normal;
} */

html,
body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}
